$primary: #1492d1;
$secondary: #00f014;
$tertiary: #880099;
$success: #880099;

@import "../../node_modules/bootstrap/scss/bootstrap";

.animated-fade-in {
    opacity: 0;
    animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.button-hover-animation {
    transition: all .5s ease-in-out;
}

.button-hover-animation:hover {
    /* Scale the button by 110% on hover */
    background-color: $secondary;
    /* Change the background color on hover */
    /* Change the text color on hover */
}

  :root {
      --toast-ghost-hue: 150;
      --toast-magic-hue: 20;
      --toast-comment-hue: 255;
      --toast-padding: 1.5em;
      --toast-margin: 0.5em;
      --toast-bg-color-fallback: hsl(var(--secondary-hue) 15% 100%);
      --toast-text-color-fallback: hsl(var(--secondary-hue) 10% 25%);
      --toast-opacity: 0.99;
      --toast-content-gap: 1em;
  }

  .toast {
      background-color: var(--toast-bg-color-fallback);
      padding: var(--toast-padding);
      box-shadow: 0 1px 3px rgba(var(--secondary-hue), 0.1), 0 1px 2px rgba(var(--secondary-hue), 0.05);
      border-radius: 0.5rem;
      position: relative;
      color: var(--toast-text-color-fallback);
      opacity: var(--toast-opacity);
      margin-top: var(--toast-margin);
  }

  .toast:hover {
      opacity: 1;
  }

  .toast-message {
      display: flex;
      gap: var(--toast-content-gap);
      align-items: top;
  }

  .toast-close-btn {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      padding: 0;
      line-height: 1;
      height: 1rem;
      width: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      color: inherit;
  }

  .toast--ghost {
      color: white;
  }

  .toast--ghost .icon--thumb {
      color: greenyellow;
  }

  .toast--magic {
      color: white;
  }

  .toast--magic .icon--thumb {
      color: blueviolet;
  }

  .toast--comment {
      color: white;
  }

  .toast--comment .icon--thumb {
      color: blue;
  }

  .icon {
      width: 1em;
      height: 1em;
      fill: currentColor;
  }

  .icon--lg {
      width: 1.5em;
      height: 1.5em;
  }